*{
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.header {
    padding: 0 2vw 0 2vw;
    background-color: #FF0000;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
}
.logo, .logo img{
    width: 30%;
    padding: 0;
    float: left;
    margin: 0;
    /* margin: 0; */
    height: auto;
    /* border: solid 2px black; */
}
.header ul{
    display: flex;
    gap: 3vw;
}
.header ul li a{
    font-family: 'Bebas Neue';
    color: black;
}
.department ul li a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: 2px 2px rgb(139, 139, 139);
}
.department ul{
    padding: 3vw 15vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.department {
    background-color: #FFD07B;
    border-bottom: solid 1px hsl(0, 0%, 70%);
}
.flash-sale{
    padding: 2vw;
    /* border: 2px solid black; */
    /* animation: opa 3s infinite;
    animation-iteration-count: calc(2);
}
@keyframes opa {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
     */
}
.image{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vw;
}
.image img {
    position: absolute;
    width: 90%;
    height: auto;
}
.flash-txt{
    padding: 1vw;
    transform: skewX(-20deg);
    box-shadow: 10px 10px 5px hsl(0, 0%, 20%);
    background-color: red;
    position: absolute;
    font-family: 'Dancing Script';
    color: #CFC0BD;
    animation: opa 2s infinite;
    animation-iteration-count: infinite;
}
@keyframes opa {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
   
}
.infos{
    color: hsl(10, 16%, 48%);
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2vw;
    background-color: #FFD07B;
}
.infos h4{
    color: white;
    padding: 1vw;
    border-radius: 1vw;
    background-color: #FDB833 ;
}
.infos p a{
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
    color: hsl(10, 16%, 48%);
}

.slider{
    height: 1000px;
}
.products{
    border-top: 0.3vw solid #CFC0BD;
}
.filter{
    padding: 2vw 4vw;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.filter h3{
    font-size: 30px;
    flex: 1;
    text-align: left;
}

.filter-txt{
    padding: 0;
    margin: 0;
    background-color: #CFC0BD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0vw 4vw ;
}
.boxes{
    padding: 0 2vw 0 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}
.box{
    padding: 2%;
    border: #CFC0BD 0.5vw solid;
    width: 30vw;
    height: 45vw;
    flex: 1 1 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box img{
    width: 60%;
    height: auto;
    top: 30vw;
}
.desc-txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8vw;
    flex-wrap: wrap;
}
.desc-txt h3 {
    flex-wrap: 4%;
    text-align: center;
}
.desc-txt h4 {
    text-align: center;
    flex: 1;
    font-size: 4vw;
    background-color: rgb(21, 165, 117);
    padding: 1vw;
    border-radius: 0.6vw;
    /* flex-wrap: 20%; */
}
