*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.header {
    background-color: #586F6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vh;
}
.header h1 a{
    text-decoration: none;
    color: #DDD5D0;
    font-family: Canela;
    font-weight: lighter;
}
.department ul li a {
    text-decoration: none;
    color: hsl(23, 16%, 50%);
}
.department ul{
    padding: 3vw 15vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.department {
    background-color: #CFC0BD;
    border-bottom: solid 1px hsl(0, 0%, 70%);
}
.image{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vw;
}
.image img {
    position: absolute;
    width: 100%;
    height: auto;
}
.price{
    transform: skewX(-20deg);
    box-shadow: 10px 10px 5px hsl(0, 0%, 20%);
    background-color: red;
    position: absolute;
    color: #CFC0BD;
}
.slider{
    height: 1000px;
}
